.requestsPage {
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(
        to right,
        #eef2ff,
        #f8fafc
    );

    padding: 98px 18px 28px;

    box-sizing: border-box;
}

.requests-card-container{
    width:100%;
    max-width:1080px;

    margin:0 auto;
}

.requests-heading{
    text-align:center;

    font-size:38px;
    font-weight:700;

    color:#111827;

    margin-bottom:28px;
}

.requestsList{
    display:flex;
    flex-direction:column;

    gap:20px;
}

.no-requests{
    text-align:center;

    font-size:18px;

    color:#6b7280;

    margin-top:24px;
}

@media screen and (max-width:768px){

    .requests-card-container{
        padding-top:110px;
    }

    .requestsPage{
       padding:25px 25px 14px;
    }

    .requests-heading{
        font-size:36px;
        margin-bottom:28px;
    }

    .requestsList{
        gap:18px;
    }

}

@media screen and (max-width:480px){

    .requests-card-container{
        padding-top:110px;
    }

    .requests-heading{
        font-size:28px;
    }

    .no-requests{
        font-size:17px;
    }

}