.forgotPage {
    width: 100%;
    min-height:100vh;
    background: linear-gradient(to right, #eef2ff, #f8fafc);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 18px;
    box-sizing: border-box;
    padding-top: 95px;
}

.saveBtn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: none;
}

.forgotContainer {
    width: 100%;
    max-width: 460px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 36px 28px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

.forgotContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #7c3aed, #8b5cf6, #c4b5fd);
}

.forgotHeading {
    text-align: center;
    font-size: 32px;
    color: #111827;
    font-weight: 700;
}

.forgotText {
    text-align: center;
    font-size: 15px;
    color: #6b7280;
    line-height: 24px;
}

.forgotForm {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputGroup label {
    font-size: 14px;
    font-weight: 600;
    color: #374151;
}

.inputGroup input {
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #dbeafe;
    border-radius: 13px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
    box-sizing: border-box;
}

.inputGroup input:focus {
    border-color: #4f46e5;
    box-shadow: 0px 0px 0px 4px rgba(79, 70, 229, 0.10);
}

.resetBtn {
    margin-top: 6px;
    border: none;
    background: #4f46e5;
    color: white;
    padding: 13px 18px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.resetBtn:hover {
    background: #4338ca;
}

.responseMessage {
    text-align: center;
    color: #16a34a;
    font-size: 14px;
    font-weight: 600;
}

.loginSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.loginSection p {
    color: #6b7280;
    font-size: 14px;
}

.loginLink {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 700;
}

.loginLink:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px) {

    .forgotContainer {
        padding: 38px 28px;
    }

    .forgotHeading {
        font-size: 32px;
    }
}

@media screen and (max-width: 480px) {

    .forgotPage {
        padding:25px 25px 14px;
    }

    .forgotContainer {
        padding: 30px 20px;
        border-radius: 22px;
    }

    .forgotHeading {
        font-size: 28px;
    }

    .forgotText {
        font-size: 14px;
        line-height: 24px;
    }

    .inputGroup input {
        padding: 14px;
    }

    .resetBtn {
        width: 100%;
    }
}