.connectionsPage {
    width: 100%;
    min-height:100vh;
    background: linear-gradient(to right, #eef2ff, #f8fafc);
    padding: 28px 18px;
    box-sizing: border-box;
    padding-top: 98px;
}

.connectionHeading {
    text-align: center;
    font-size: 36px;
    color: #111827;
    margin-bottom: 28px;
    font-weight: 700;
}

.connectionsContainer {
    width: 100%;
    max-width: 980px;
    margin:0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.emptyText {
    font-size: 18px;
    color: #6b7280;
    text-align: center;
}
@media screen and (max-width: 858px) {

    .connectionsPage {
        padding: 125px 25px 16px;
    }

    
}
@media screen and (max-width: 768px) {

    .connectionsPage {
        padding-top: 128px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .connectionHeading {
        font-size: 34px;
    }

    .connectionsContainer{
        max-width:100%;
    }
}

@media screen and (max-width: 480px) {

    .connectionHeading {
        font-size: 28px;
    }
}