.helpHubPage {
    width: 100%;
    min-height:100vh;

    background: linear-gradient(to right, #eef2ff, #f8fafc);

    padding: 92px 18px 28px;
    box-sizing: border-box;
}

.helpHeroSection {
    width: 100%;
    max-width: 1120px;

    margin: 0 auto 32px auto;

    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(10px);

    border-radius: 26px;

    padding: 28px 26px;

    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.08);

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 18px;
}

.heroLeft h1 {
    font-size: 36px;
    color: #111827;
    margin-bottom: 10px;
}

.heroLeft p {
    font-size: 15px;
    color: #6b7280;
    line-height: 25px;
    max-width: 650px;
}

.myHelpBtn {
    border: none;
    background: #4f46e5;
    color: white;
    padding: 13px 20px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}

.myHelpBtn:hover {
    background: #4338ca;
    transform: translateY(-2px);
}

.helpFeedSection {
    width: 100%;
}

.feedHeading {
    text-align: center;
    font-size: 38px;
    color: #111827;
    margin-bottom: 28px;
    font-weight: 700;
}

.helpFeedContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 340px));
    justify-content: center;
    gap: 24px;
}

.noHelpText {
    font-size: 18px;
    color: #6b7280;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .helpHeroSection {
        flex-direction: column;
        align-items: flex-start;
    }

    .heroLeft h1 {
        font-size: 36px;
    }
}
@media screen and (max-width: 858px) {

    .feedPage {
        padding: 125px 25px 16px;
    }

    
}
@media screen and (max-width: 768px) {

    .helpHubPage {
       padding:125px 14px 24px;
    }

    .feedHeading {
        font-size: 34px;
    }

    .helpFeedContainer {
        gap: 22px;
    }
}

@media screen and (max-width: 480px) {

    .helpHubPage{
        padding:115px 14px 24px;
    }

    .helpHeroSection{
        padding:24px 18px;
        border-radius:22px;
    }

    .heroLeft h1 {
        font-size: 28px;
    }

    .heroLeft p {
        font-size: 15px;
        line-height: 25px;
    }

    .feedHeading {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .helpFeedContainer {
        grid-template-columns: 1fr;
    }

    .myHelpBtn {
        width: 100%;
    }
}