.signupPage{

    width:100%;

    min-height:calc(100vh - 96px);

    background:linear-gradient(
        to right,
        #eef2ff,
        #f8fafc
    );

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px 20px;

    box-sizing:border-box;
}
.saveBtn:disabled{
    opacity:0.7;

    cursor:not-allowed;

    transform:none;
}
.signupContainer{

    width:100%;

    max-width:520px;

    background:rgba(255,255,255,0.95);

    backdrop-filter:blur(10px);

    border-radius:28px;

    padding:45px 35px;

    box-shadow:0px 10px 35px rgba(0,0,0,0.10);

    display:flex;

    flex-direction:column;

    gap:24px;

    position:relative;

    overflow:hidden;
}

.signupContainer::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:8px;

    background:linear-gradient(
        90deg,
        #7c3aed,
        #8b5cf6,
        #c4b5fd
    );
}
.signupHeading{

    text-align:center;

    font-size:42px;

    color:#111827;

    font-weight:700;
}

.signupSubText{

    text-align:center;

    font-size:16px;

    color:#6b7280;

    line-height:28px;
}

.signupForm{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.inputGroup{

    display:flex;

    flex-direction:column;

    gap:10px;
}

.inputGroup label{

    font-size:15px;

    font-weight:600;

    color:#374151;
}

.inputGroup input{

    width:100%;

    padding:15px 16px;

    border:1px solid #dbeafe;

    border-radius:14px;

    outline:none;

    font-size:15px;

    transition:0.3s;

    box-sizing:border-box;
}

.inputGroup input:focus{

    border-color:#4f46e5;

    box-shadow:0px 0px 0px 4px rgba(79,70,229,0.10);
}

.signupBtn{

    margin-top:8px;

    border:none;

    background:#4f46e5;

    color:white;

    padding:15px 20px;

    border-radius:14px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    transition:0.3s;
}

.signupBtn:hover{

    background:#4338ca;

    transform:translateY(-2px);
}

.loginText{

    text-align:center;

    color:#6b7280;

    font-size:15px;
}

.loginLink{

    text-decoration:none;

    color:#4f46e5;

    font-weight:700;

    transition:0.3s;
}

.loginLink:hover{

    color:#4338ca;
}

@media screen and (max-width:768px){

    .signupContainer{

        padding:38px 28px;
    }

    .signupHeading{

        font-size:36px;
    }

}

@media screen and (max-width:480px){

    .signupPage{

        padding:25px 14px;
    }

    .signupContainer{

        padding:30px 20px;

        border-radius:22px;
    }

    .signupHeading{

        font-size:30px;
    }

    .signupSubText{

        font-size:14px;

        line-height:24px;
    }

    .inputGroup input{

        padding:14px;
    }

    .signupBtn{

        width:100%;
    }

}